@import "compass/reset";

h1 {
    font: xx-large/1.5 sans-serif;
    text-align: center;
}

footer {
    margin-top: 1ex;
    border-top: 1px black solid;
}

small {
    font-size: smaller;
}

.jxgbox {
    @media (max-width: 850px) {
        width: 99vw;
        height: 99vw;
    }
    @media (min-width: 851px) {
        width: 25em;
        height: 25em;
    }
}